*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'poppins';
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #0f0d0d;
}
.header {
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 99;
    position: relative;
    border-bottom: 0.02px solid rgba(128,128,128,0.2);
}
.logo {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.logo a {
    padding-left: 70px;
    color: #fff;
    transition: 0.3s;
    font-size: 1.5rem;
}
.logo a:hover{
    color: #28df99;
}
.logo a:hover span{
    color: #fff;
}
.logo a span{
    color: #28df99;
}
.header ul li {
    display: inline-block;
    padding-right: 40px;
}
.header ul li a {
    margin: 0 25px;
    color: #fff;
    font-size: 1.1rem;
    transition: .6s;
    position: relative;
}
.header ul li a:hover{
    color: #28df99;
    text-decoration: 0 0 10px #99f3bd;
}
.header .fa-bars{
    font-size: 1.3rem;
    display: none;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    background-color: #28df99;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about,
.about-wrapper,
.skills-wrapper{
    background-color: #101010;
}
.hero,
.about{
    width: 1500px;
    padding: 100px 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.hero .content,
.about .content{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero .content h4,
.about .content h4{
    letter-spacing: 1px;
    font-weight: 300;
    color: #28df99;
    letter-spacing: 6px;
    font-size: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.hero .content h2{
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1rem;
    margin: 10px 0;
    width: 80%;
    color: rgba(255, 255, 255, 0.8);
}
.hero .content h2 span{
    text-transform: uppercase;
    color: #28df99;
}
.hero .content h1,
.about .content h1{
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 5rem;
    margin: 10px 0;
    width: 80%;
    color: rgba(255, 255, 255, 0.8);
}
.hero .content h1 span{
    color: #28df99;
}
.hero .content p,
.about .content p{
    color: #878787;
    margin: 10px 0;
    width: 80%;
}
button{
    height: 40px;
    width: 135px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #28df99;
    border: 1px solid #28df99;
    box-shadow: 0 0 10px #99F3BD;
    margin-top: 20px;
    transition: .6s;
}
button:hover{
    box-shadow: 0 0 5px #28df99;
}
.social{
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: 2px;
}
.social i{
    padding: 9px;
    background-color: #28df99;
    border-radius: 5px;
    border: 0.5px #28df99;
    box-shadow: 0 0 5px #28df99;
    transition: .6s;
    cursor: pointer;
}
.social i:hover{
    box-shadow: 0px 0px 10px #99F3BD;
}
.about .content{
    width: 40%;
}
.section_heading{
    font-size: 50px;
    letter-spacing: 1px;
}
.section_title{
    font-size: 12px;
    color: #28df99;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 40px;
}
.service,
.project{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    pad: 100px 0%;
    color: #fff;
}
.service-cards,
.project_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    place-items: center;
    margin-top: 50px;
}
.service-cards .service-card{
    background-color: rgba(188,248,212,0.02);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 400px;
    padding: 10% 20px;
    gap: 12px;
    align-items: center;
    text-align: center;
    border: 0.2px solid rgba(188,248,212,0.2);
    border-radius: 10px;
}
.service-cards .service-card:hover{
    border-color: rgba(188,248,212,0.02);
    background-color: rgba(188,248,212,0.08);
}
.service-cards .service-card > div{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 1px solid rgba(128,128,128,0.2);
    position: relative;
}
.service-cards .service-card:hover > div{
    border-color: #28df99;
}
.service-cards .service-card  > div i{
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1.5s;
}
.service-cards .service-card:hover > div{
    border-color: #28df99;
}
.service-cards .service-card p{
    color: rgba(128,128,128,0.8);
}
.service-cards .service-card button{
    height: 55px;
}
.skills{
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 140px 0%;
}
.skills_wrapper{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.technical_skills{
     display: flex;
     flex-direction: column;
     gap: 18px;
     color: #fff;
     width: 50%;
     margin-top: 80px;

}
.skills .section_heading{
    color: #fff;
}
.technical_skills h3{
    font-size: 26px;
}
.technical_skills .skils{
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.technical_skills .skils h3{
    font-size: 16px;
}
.technical_skills .skils h3 span{
    color: #28df99;
}
.technical_skills .skils .line{
    height: 8px;
    border-radius: 5px;
    position: relative;
    margin-top: 30px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
}
.technical_skills .skils .line::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background: rgba(40,223,153,1);
    top: 0;
    left: 0;
    border-radius: 5px;
}
.technical_skills .skils .HTML .line::after{
    width: 90%;
}
.technical_skills .skils .CSS .line::after{
    width: 80%;
}
.technical_skills .skils .JavaScript .line::after{
    width: 60%;
}
.technical_skills .skils .REACT .line::after{
    width: 40%;
}
.professional_skills{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.professional_skills h3{
    margin-top: 60px;
    font-size: 26px;
    color: #fff;
    margin-bottom: 40px;
    padding-left: 250px;
}
.professional_skills .boxes{
    display: grid;
    grid-auto-columns: repeat(2,1fr);
    gap: 40px;
    color: #fff;
}
.professional_skills .boxes .box{
    display: flex;
    height: 200px;
    width: 200px;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 50%;
    border: 10px solid #28df99;
    text-align: center;
}
.professional_skills .boxes .box span{
    font-size: 13px;
}
.project{
    background-color: #101010;
}
.project_cards {
    gap: 30px;
    background-color: #0f0d0d
}
.project_cards .project_card{
    width: 100%;
    height: 380px;
    border: 1px solid #28df99;
    box-shadow: 0 0 12px #99f3bd;
    transition: .6s;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: rgba(0,0,0,0.5);
}
.project_cards .project_card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s;
}
.project_cards .project_card:hover::after{
    opacity: 1;
}
.project_cards .project_card img{
    width: 100%;
    border-radius: 5px;
    height: 100%;
    transition: .6s;
}
.project_cards .project_card p{
    position: absolute;
    bottom: 30px;
    right: -18px;
    padding: 5px 20px;
    width: 120px;
    background-color: rgba(40,223,153,1);
    border: 2px solid #28df99;
    transform-origin: right;
    transition: .6s;
    transform: rotate(100deg);
    color: #000;
    z-index: 5;
    font-weight: 500;
}
.project_cards .project_card:hover p{
    transform: rotate(0deg);
}
.project_cards .project_card:hover img{
    transform: scale(1.1);
}
.top-container{
    min-height: 30vh;
    width: 100%;
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 35%;
    color: #fff;
    font-family: 'karma';
    border-bottom: 0.5px solid #28df99;
}
.top-container h1{
    margin-bottom: 6px;
    letter-spacing: 1px;
    font-size: 40px;
}
.top-container p{
    width: 60%;
    text-align: center;
}
.bottom-container{
    display: flex;
    justify-content: space-between;
    padding: 4% 8%;
    min-height: 70vh;
    width: 100%;
    background-color: #1c1c1c;
}
.bottom-container .contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 30%;
    height: 100%;
}
.bottom-container .image{
    height: 350px;
    width: 350px;
    margin-top: -180px;
}
.bottom-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.bottom-container .contact h4{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
}
.bottom-container .contact h3{
    color: rgba(255,255,255,1);
    letter-spacing: 1px;
}
.bottom-container .form{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 0 2%;
}
.box-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 12px;
    padding-left: 40px;
}
.box{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
label{
    color: #fff;
}
input,textarea{
    height: 42px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255,255,255,0.4);
    padding-left: 12px !important;
    outline: none;
    color: #fff;
}
input:focus,textarea:focus{
    border-color: #99f3bd;
}
textarea{
    height: 200px;
    padding-top: 5px;
}
.contact_wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
footer{
    background-color: #1c1c1c;
    height: 20px;
}
footer p{
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}





